<a id="product-<%= id %>" class="product_item js-product-item" data-id="<%= id %>">

    <div class="product_description">
        <div class="product_description__name">
            <span><%= name %></span>, <span><%= colour %></span>
        </div>
        <div class="product_description__category">
            <%= category %>
        </div>
        <div class="product_description__price">
            Price: <span><%= price %></span> <%= currency %>
        </div>
        <div class="product_description__quantity">
            Quantity: <span><%= quantity %></span>
        </div>
    </div>

</a>